.banner {
  background-image: url("../../images/background.png");
  background-position: center;
  background-size: cover;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 200px 0;*/
}

.banner p {
  color: gray;
  font-size: 18px;

}


